@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

:root {
  --text: #e9edef;
  --background: #0c0f10;
  --primary: #abb9c1;
  --secondary: #474960;
  --accent: #737196;
}

main {
  padding: 1rem;
}

h2 {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 225px);
  height: 335px;
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.card:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card img {
  border-radius: 10px;
}
.card {
  border-radius: 10px;
}

.card-1 {
  background-color: white;
}
.card-2 {
  background-color: white;
}
.card-3 {
  background-color: white;
}
.card-4 {
  background-color: white;
}
