:root {
  --search-list-color: rgb(46, 45, 46);
}

* {
  box-sizing: border-box;
  /* color: white; */
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
  background-color: rgb(36, 36, 40);
}

header {
  color: white;
  /* opacity: 0.5; */
  /* border: 1px solid black; */
  background-color: transparent;
  /* box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5); */
  padding: 1em 2.5em;
}

.header-block {
  display: flex;
  align-items: center;
}

#logo {
  margin: 0 2em;
  width: 120px;
}

.fa-bars {
  font-size: 2.5rem;
}

.search-block {
  display: flex;
  align-items: center;
  background-color: white;
}

#search-bar {
  font-family: inherit;
  font-size: 1.8rem;
  color: black;
  width: 200px;
  height: 15px;
  padding: 1em 1em;
  border: none;
  outline: none;
}

form {
  display: flex;
  align-items: center;
}
.fa-magnifying-glass {
  margin-right: 1em;
  color: black;
}

#filter-btn {
  color: inherit;
  font-size: 1rem;
  padding: 0.5em 0.5em;
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 3px;
  margin-right: 0.5em;
}

.nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3em;
}

.nav i,
.nav #language {
  margin-bottom: 0.5em;
}

#language {
  font-size: 1.1rem;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  width: 50px;
  height: 20px;
  background-color: rgb(25, 130, 171);
  /* border-radius: 5px; */
}

.select-EN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
}

.select-JP {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
  background-color: gray;

  /* border-radius: 5px; */
}

#login-btn {
  background-color: rgb(25, 130, 171);
  border: none;
  padding: 1em 1.5em;
  margin-left: auto;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
}

.fa-bars,
#logo,
.fa-magnifying-glass,
#filter-btn,
.nav,
#login-btn {
  cursor: pointer;
}

#login-btn:focus,
#filter-btn:focus {
  outline: none;
}

#filter-btn:hover {
  opacity: 0.9;
}

.nav i {
  color: rgb(25, 130, 171);
}

.nav span:hover {
  color: rgb(25, 130, 171);
}

.img-block img {
  opacity: 0.3;
  box-shadow: 2px, 4px, 5px rgb(0, 0, 0, 0.3);
}
