* {
  box-sizing: border-box;
}

body {
  padding: 25px;
}

nav {
  display: flex;
}

img {
  border-radius: 10px;
  margin: 10px;
  width: 150px;
}

.movie-list {
  display: flex;
  flex-direction: row;
}

img:hover {
  opacity: 0.7;
  cursor: pointer;
}
