.trends {
  color: rgb(25, 130, 171);
}

.trends h2 {
  margin: 0.8em;
  font-size: 2.5rem;
}

.list-trending {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5em;
  background-color: teal;
  width: 100px;
  height: 100px;
  margin: 10em 15em;
  /* justify-content: center; */
  /* align-items: center; */
}

.trend {
  background-color: teal;
  width: 200px;
  height: 250px;
}
